.overall-grid{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}





.box-cont{
    background-color: #4a90e2;
       text-align: center;
       color: white;
       border-radius: 15px;
       padding: 10px;
       width: 300px;
       height: 90px;
       margin: 0 auto;
       
   }
   
   .box-cont:nth-child(2){
       background-color: #ff6289;
   }
   .box-cont:nth-child(3){
       background-color: #fcbf58;
   }
   .box-cont:nth-child(4){
       background-color: #44bfc3;
   }
   .box-cont:nth-child(5){
       background-color: #77b05d
   }
   .box-cont:nth-child(6){
       background-color: #7d78b1
   }
   .icon-img{
       height: 20px;
   }
   .box-info{
       margin-top: 5px;
   }
   .content-heading{
       font-size: 12px;
       font-weight: bold;
   }
   .content-para{
       font-size: 8px;
      
   }




@media screen and (min-width:768px) {
    .overall-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 25px;
        margin-top: 15px;
        margin-left: 20px;
        margin-right: 20px;
    }

.box-cont{
        background-color: #4a90e2;
           text-align: center;
           color: white;
           border-radius: 15px;
           padding: 30px;
           
       }
       
       .box-cont:nth-child(2){
           background-color: #ff6289;
       }
       .box-cont:nth-child(3){
           background-color: #fcbf58;
       }
       .box-cont:nth-child(4){
           background-color: #44bfc3;
       }
       .box-cont:nth-child(5){
           background-color: #77b05d
       }
       .box-cont:nth-child(6){
           background-color: #7d78b1
       }
       .icon-img{
           height: 30px;
       }
       .box-info{
           margin-top: 5px;
       }
       .content-heading{
           
           font-weight: bold;
       }
       .content-para{
           font-size: 12px;
          
       }
}
