@media(max-width:1200px){

.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 70px;
    background-color: rgb(255, 255, 255);
    width: 100px;
    z-index: 200;
}
.side-options{
    height: 75px;
    background-color:white;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    margin-top: 5px;
    
}
.side-options:hover{
    background-color: rgb(220, 218, 218);
}
.side-options img{
    height: 30px;
}
.side-options div{
    font-size: 14px;
    font-family: roboto;
  
}
    }    

@media (min-width:1200.1px)
{

    .sidebar{
        position: fixed;
        left: 0;
        bottom: 0;
        top: 70px;
        background-color: rgb(255, 255, 255);
        width: 200px;
        z-index: 200;
    }
    .side-options{
        height: 50px;
        background-color:white;
        transition: 0.5s;
        display: flex;
        align-items: center;
        cursor: pointer;

    
        
    }
    .side-options:hover{
        background-color: rgb(220, 218, 218);
    }
    .side-options img{
        height: 30px;
        margin-right: 15px;
    }
    .side-options div{
        font-size: 14px;
        font-family: roboto;
      
    }


}